.chat-main
  .chat-main__group-info
    .chat-main__group-info__left-box
      .chat-main__group-info__left-box__group
        .chat-main__group-info__left-box__group__name
          = @group.name
      .chat-main__group-info__left-box__members
        - @group.users.each do |users|
          .chat-main__group-info__left-box__members__names
            = users.name
    .chat-main__group-info__right-box
      .chat-main__group-info__right-box__edit
        = link_to 'Edit', edit_group_path(current_user)
  .chat-main__message-list
    = render partial: 'message', collection: @messages
  .chat-main__message-form 
    = form_for [@group, @message] do |f|
      .chat-main__message-form__input
        = f.text_field :content, class: 'chat-main__message-form__input__text', placeholder: 'type a message'
        = f.label :image, class: 'chat-main__message-form__input__icon', for: "message-image" do
          = icon('fas', 'image')
          = f.file_field :image, id: "message-image", class:'chat-main__message-form__input__icon__image'
      = f.submit 'Send', "data-disable-with": "送信中...", class: 'chat-main__message-form__send'