.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        = current_user.name
      .side-bar__user-name__top-items__icons
        = link_to new_group_path, class: 'side-bar__user-name__top-items__icons__new-group' do
          = icon('fas', 'edit')
        = link_to edit_user_path(current_user), class: 'side-bar__user-name__top-items__icons__edit-user' do
          = icon('fas', 'cog')
  .side-bar__group-list
    .side-bar__group-list__items
      .side-bar__group-list__items__up-box
        .side-bar__group-list__items__up-box__group-name
          - current_user.groups.each do |group|
            .group
              = link_to group_messages_path(group) do
                .group__name
                  = group.name
                .side-bar__group-list__items__down-box
                  .side-bar__group-list__items__down-box__messages
                    = group.show_last_message